<table class="table table-bordered question-table">
  <tbody>
    <tr>
      <th>Question</th>
      <td>{{model.qu_title}}</td>
    </tr>
    <tr>
      <th>Asker</th>
      <td>{{model.qu_author}}</td>
    </tr>
    <tr>
      <th>Notes</th>
      <td><textarea readonly rows=15>{{model.qu_notes}}</textarea></td>
    </tr>
    <tr>
      <th>Delete</th>
      <td><button class="bg-warning" {{action 'delete' model}}>(It's Permanent!)</button>
      </td>
    </tr>
  </tbody>
</table>

{{update-question question=model update="update"}}


{{all-answers question=model deleteAnswer="deleteAnswer" updateAnswer="updateAnswer"}}

{{new-answer question=model saveAnswer="saveAnswer"}}
